@model SurveyApp.Models.Answer

@{
    ViewData["Title"] = "Edit";
}

<div class="qnaContainer">
  
   


    <div class="surveyCreateContainer effect7">
        <div>
        <h3 class="surveysPublished">Edit your answer</h3>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AnswerId" />
                <div class="form-group">

                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info surveySurveyButton" />
        <a asp-action="Details" asp-controller="Surveys" asp-route-id="@Model.Question.SurveyId" class="btn btn-info surveySurveyButton">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
