@model IEnumerable<SurveyApp.Models.Survey>

@{
    ViewData["Title"] = "Home Page";
}



@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>*@

<div class="surveyIndexContainer">
    @foreach (var item in Model)
    {
        @*<tr>*@

        <div class="surveyNameButton">
            @*<td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>*@


            @*The asp-action routes to the AnonymousSurvey.cshtml according to the SurveyId*@
            @*<td>*@
            <a asp-action="AnonymousSurvey" class="btn btn-info surveyIndexButton" asp-route-id="@item.SurveyId"> @Html.DisplayFor(modelItem => item.Name)</a>
            @*</td>*@
        </div>
        @*</tr>*@
    }
</div>
@*</table>*@
