@model IEnumerable<SurveyApp.Models.Survey>

@{
    ViewData["Title"] = "Home Page";
}
<h4>tentacles!</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>


             @*The asp-action routes to the AnonymousSurvey.cshtml according to the SurveyId*@
                <td>
                    <a asp-action="AnonymousSurvey" asp-route-id="@item.SurveyId">Take Survey</a>
                </td>
            </tr>
        }
    </tbody>
</table>
