@model SurveyApp.Models.Question

@{
    ViewData["Title"] = "Delete";
}



<div class="qnaContainer">
    <div class="surveyCreateContainer effect7">
        <div >

            <h3 >Are you sure you want to delete the question and its associated answers?</h3>
            <div >
               <h2 class="surveyDeleteName"> @Html.DisplayFor(model => model.Content) <h2>
            </div>

        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="QuestionId" />
            <input type="submit" value="Delete" class="btn btn-info surveySurveyButton" />
            <a asp-action="Details" asp-controller="Surveys" asp-route-id="@Model.SurveyId" class="btn btn-info surveySurveyButton">Back</a>
        </form>
    </div>
</div>
