@*Computer settings for appsettings.json*@
@*"Server=DESKTOP-VUH9TGJ\\SQLEXPRESS;database=SurveyApp;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"*@

@*Azure settings for appsettings.json*@
@*"DefaultConnection": "Server=tcp:bloopbloop.database.windows.net,1433;Initial Catalog=SurveyApp;Persist Security Info=False;User ID={Ds2q88};Password={Dejanst1988!!!};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"*@

@model SurveyApp.Models.Survey

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="qnaContainer">
        <div class="surveyCreateContainer effect7">
            <form asp-action="Create">
                <h3 class="surveysPublished">Please name your survey</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-info surveySurveyButton"  />
                    <a asp-action="Index" class="btn btn-info surveySurveyButton">Back</a>

                </div>
            </form>
        </div>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to Surveys</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
