@model SurveyApp.Models.Survey

@{
    ViewData["Title"] = "Edit";
}



<div class="qnaContainer">
    <div class="surveyCreateContainer effect7">
<h3 class=" surveysPublished">Edit your survey name</h3>
        <form asp-controller="Surveys" asp-action="Edit" asp-route-id="@Model.SurveyId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info surveySurveyButton" />
    <a asp-action="Index" class="btn btn-info surveySurveyButton">Back</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
