/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


.question-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*Index anon survey page*/
.surveyNameButton {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    margin:7px;
    
}
.surveyIndexButton {
    background-color: #1C1F33;
    /*#F7DD72;*/
    width: 350px;
    height: 60px;
    font-size: x-large;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
}

.body-content {
    margin-top: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*.surveyIndexContainer {
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}*/

body {
    /*background-image: url("../images/outOfFocus.jpeg");*/
    background-color: white;
}

/*@media only screen and (max-width: 600px) {
    body {
        background-image: url("../images/blueCircles.jpg");
        background-size: 100%;
        background-color: #cccccc;
    }*/
.navbar-toggle {
    background-color: #1C1F33;
}
.navbar {
    background-color: #1C1F33;
}





/*Anonymous survey view*/

.anonymousSurveyContainer {
    
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.anonymousSurveyButton {
    background-color: #1C1F33;
    /*#F7DD72;*/
    width: 265px;
    height: 60px;
    font-size: x-large;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 1em;
   
}
.form {
    margin-left: auto;
    margin-right: auto;
}

.form-control {
margin-top: 1em;
margin-bottom: 1em;
}

/*results page*/

.no-top-margin {
    margin-top: 0;
}

.resultsHeader {
    text-align:center;
}
.fullDivSurveyDetails {
    justify-content:center;
    
}
.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    background-color: whitesmoke;
    border-radius: 5px;
    /*box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);*/
}

.ulHidden {
    list-style-type: none;
    height:1em;
}

.questionContent {
    justify-content: center;
    display: flex;
   
}

chartSize {
    /*style ="width:710px;height:300px"*/
    width: 710px;
    height:300px;
}

.chartContainerContainer {
padding-bottom: 2em;
}
.row {
    justify-content: center;
    width: auto;
    padding-bottom: 8em;
}
@media only screen and (max-width: 600px) {
   

    .chartSize {
        width: 325px;
        height: 200px;
    }
    
}

/*surveys page*/

.surveysTitle {
    text-align: center;
}

.createSurveyButton {
    text-align: center;
}
.surveysHeader {
    font-size: x-large;
    text-align: center;
}

.surveysPublished {
    text-align:center;
    padding: 1em;
}

.surveyDeleteName {
    padding:1em;
    font-weight: bold;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.surveysContent {
    margin: 2em;
    background-color: whitesmoke;
    width: 400px;
    height: 250px;
    border-radius: 5px;
    padding: 2.3em;
    text-align:center;
}
.surveyPublishButton{

    margin: .5em;
    width: 120px;
}
.surveySurveyFormButton {

text-align:center;
height:3.5em;

}
.surveySurveyButton {
    background-color: #1C1F33;
    margin: .5em;
    width: 120px;
}

/*q & a page*/

.qnaContainer {
    /*background-color: whitesmoke;*/
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    border-radius: 5px;
}

.qnaQnaContainer {
    margin: 2em;
    background-color: whitesmoke;
    width: 500px;
    border-radius: 5px;
    
}
.qnaOl {
    list-style-type: none;
    
}

.qnaAnswers{
    padding:1em;
    
}

.qnaQuestionEdit {
color:white;
align-items:right;
font-size: 1.5em;
padding-left: 1em;
}

.qnaQuestionDelete {
    color: white;
    font-size: 1.5em;
    padding-left: 1em;
}
.qnaQuestionContainer {
    padding: 1em;
    background-color: #1C1F33;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.qnaAnswerEdit {
    padding-left: 1em;
}

.qnaAnswersInput {
width:95%;
display:flex;
justify-content:center;
}

.qnaLabel {
    margin: auto;
    padding-right: 1em;

}

.qnaLabel1 {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
}

.centerCreateButtons {
   display:flex;
   justify-content:center;
}
/*survey create*/
.surveyCreateContainer {
    margin: 2em;
    background-color: whitesmoke;
    width: 500px;
    border-radius: 5px;
    padding: 2.3em;
    text-align: center;
    /*border: solid;
    border-color: #31B0D5;*/
}

    /*.surveyCreateContainer:hover {
        box-shadow: inset 0 0 10px #31B0D5;
    }*/

.effect7 {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

    .effect7:before, .effect7:after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
        box-shadow: 0 0 20px rgba(0,0,0,0.8);
        top: 0;
        bottom: 0;
        left: 10px;
        right: 10px;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }

    .effect7:after {
        right: 10px;
        left: auto;
        -webkit-transform: skew(8deg) rotate(3deg);
        -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
        -o-transform: skew(8deg) rotate(3deg);
        transform: skew(8deg) rotate(3deg);
    }


    /*.effect7:hover {
        -webkit-box-shadow: 0 1px 4px rgba(49, 176, 213, 0.3), 0 0 40px rgba(49, 176, 213, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(49, 176, 213, 0.3), 0 0 40px rgba(49, 176, 213, 0.1) inset;
        box-shadow: 0 1px 4px rgba(49, 176, 213, 0.3), 0 0 40px rgba(49, 176, 213, 0.1) inset;
    }*/

    .effect7:hover:before, .effect7:hover:after {
        -webkit-box-shadow: 0 0 20px rgba(49, 176, 213, 0.8);
        -moz-box-shadow: 0 0 20px rgba(49, 176, 213, 0.8);
        box-shadow: 0 0 20px rgba(49, 176, 213, 0.8);
    }